<section class="tabs-wrapper {{ section.settings.layout }}" style="background-color:{{ section.settings.background_color }};">
    <div id="tab" class="tab" style="text-align:{{ section.settings.text_alignment_tabs }}; border-color:{{ section.settings.border_color }};">
        <h3 style="color:{{ block.header_color }};">{{ section.settings.header_tab }}</h3>
        <div id="tabsPanel"></div>
    </div>
    <div class="content" style="text-align:{{ section.settings.text_alignment_content }}; border-color:{{ section.settings.border_color }};">
        {% for block in section['block_order'] %}
            {% block %}
        {% endfor %}
    </div>
</section>

{% scripts %}
    function tabLinks() {
        const tabContent = document.querySelectorAll(".tabcontent");
        const tabsPanel = document.querySelector("#tabsPanel");
        
        tabContent.forEach(function(element) {
            const tabLink = element.id;
            tabsPanel.innerHTML += `<a class="tablinks" onclick="tabDisplay(event, '${tabLink}')">${tabLink}</a>`; 
        });
    }
    
    function initActive() { tabsPanel
        let initTabActive = document.querySelector(".tab .tablinks:first-child");
        let initContentActive = document.querySelector(".content .tabcontent:first-child");
        initTabActive.classList.add("active");
        initContentActive.classList.add("active");
    }

    document.addEventListener('DOMContentLoaded', tabLinks);
    document.addEventListener('DOMContentLoaded', initActive);
    
    function tabDisplay(evt, tabTitle) {
        let i, tabcontent, tablinks;
        
        tabcontent = document.querySelectorAll(".tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].classList.remove("active");
        }
        
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        
        document.getElementById(tabTitle).classList.add("active");
        evt.currentTarget.className += " active";
    }
{% endscripts %}

{% styles %}
.tabs-wrapper {
    padding: 1rem;
    margin: 0 auto 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tabs-wrapper .tab {
    border-bottom: solid 1px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.tabs-wrapper .tab a {
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: .5rem;
    display: block;
}

.tabs-wrapper .tab a:last-child {
    margin-bottom: 0;
}

.tabs-wrapper .tab a:hover {
    text-decoration: underline;
}
 
.tabs-wrapper .tab a.active {
    color: #C22221;
    text-decoration: underline;
}

.tabs-wrapper .tabcontent {
  display: none;
  padding: 1rem 0;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

.tabs-wrapper .active {
    display: block;
}

.tabs-wrapper .tabcontent h2 {
    margin-bottom: 2rem;
}

.tabs-wrapper h3,
.tabs-wrapper .tabcontent p {
    margin-bottom: 1rem;
}

.tabs-wrapper .tabcontent p {
    line-height: 1.4rem;
}

@media(min-width: 768px) {
    .tabs-wrapper .tabcontent {
        padding: 0;
    }
    .tabs-layout-3-7 .tab {
        border-right: solid 1px;
        border-bottom: none;
        width: 30%;
        margin-bottom: 0;    
    }
    .tabs-wrapper {
        flex-direction: row;
    }
    .tabs-wrapper .tab {
        width: 30%;
        border-right: 1px solid;
        border-bottom: none;
        padding: 0 2rem 0 0;
    }
    .tabs-wrapper .content {
        width: 69%;
        padding-left: 2rem;
    }
    .tabs-layout-3-7 {
        flex-direction: row;
    }
    .tabs-layout-3-7 .tab {
        width: 30%;
        border-right: 1px solid;
        padding: 0 2rem 0 0;
    }
    .tabs-layout-3-7 .content {
        width: 69%;
        border-right: none;
        padding: 0 0 0 2rem;
    }
    .tabs-layout-7-3 {
        flex-direction: row-reverse;
    }
    .tabs-layout-7-3 .tab {
        width: 30%;
        border-right: none;
        padding: 0 0 0 2rem;
    }
    .tabs-layout-7-3 .content {
        width: 69%;
        border-right: solid 1px;
        padding: 0 2rem 0 0;
    }
    .tabs-wrapper .tab a {
        font-size: 1.1rem;
    }
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

{% endstyles %}

{% schema %}
{
    "name": "Tabs",
    "description": "Tabs Content Section",
    "settings": [
        {
            "type": "select",
            "id": "text_alignment_tabs",
            "label": "Tabs Alignment",
            "default": "left",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ]
        },
        {
            "type": "select",
            "id": "text_alignment_content",
            "label": "Content Alignment",
            "default": "left",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ]
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Section Layout",
            "default": "tabs-layout-3-7",
            "options": [
                {
                    "value": "tabs-layout-3-7",
                    "label": "Normal"
                },
                {
                    "value": "tabs-layout-7-3",
                    "label": "Reverse"
                }
            ]
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Background Color"
        },
        {
            "type": "color",
            "id": "border_color",
            "label": "Border Color",
            "default": "#cdcdcd"
        }
    ],
    "blocks": [
        {
            "type": "tab",
            "name": "Tab"
        }
    ]
}
    
{% endschema %}