<div id="{{ block.header_text }}" class="tabcontent">
    <h2 style="color:{{ block.header_color }};">{{ block.header_text }}</h2>
    <div class="text" style="color: {{ block.text_color }};">
        <h3 style="color:{{ block.header_color }};">{{ block.sub_header }}</h3>
        <p>{{ block.desc_text }}</p>
    </div>
</div>

{% schema %}
{
    "name": "Tab",
    "settings": [
        {
            "type": "text",
            "id": "header_text",
            "label": "Header Text"
        },
        {
            "type": "text",
            "id": "header_tab",
            "label": "Tab Header"
        },
        {
            "type": "color",
            "id": "header_color",
            "label": "Header Color",
            "default": "#111111"
        },
        {
            "type": "text",
            "id": "sub_header",
            "label": "Sub-header Text"
        },
        {
            "type": "richtext",
            "id": "desc_text",
            "label": "Description"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#111111"
        }
    ]
}
{% endschema %}